def label = 'aaaa'

node(label) {
  stage('build') {
    container('maven') {
      sh 'mvn --version'
    }
    
    container('docker') {
      sh 'docker version'
    }
  }

  stage('testing') {
    container('jnlp') {
      sh 'df'
    }
  }
}